body {
    background-color: rgb(57, 59, 71);


}

.recuadro {
    background-color: rgb(40, 42, 55);
    height: 90vh;
    width: 100vh;

    position: relative;
    top: 20px;
    left: 52vh;
    box-shadow: 1px 2px 40px 2px black;
    border-radius: 3%;
}




.inpu {

    position: relative;
    top: -300px;


}

.relle1 {
    border-radius: 20px;
    color: white;
    position: relative;
    top: 300px;
    left: 100px;
    height: 5vh;
    width: 10vw;
    background-color: rgb(50, 54, 69);




}

.relle1:hover {

    border: solid 2px rgb(68, 111, 150);
    box-shadow: 1px 1px 30px 1px rgb(15, 63, 109);
    height: 5.2vh;
    width: 10.1vw;
    background-color: rgb(61, 64, 74);
}

.relle2 {
    border-radius: 20px;
    position: relative;
    top: 300px;
    left: 227px;
    height: 5vh;
    width: 10vw;
    background-color: rgb(50, 54, 69);
    color: white;




}

.relle2:hover {

    border: solid 2px rgb(68, 111, 150);

    height: 5.2vh;
    width: 10.1vw;
    background-color: rgb(61, 64, 74);
    box-shadow: 1px 1px 30px 1px rgb(15, 63, 109);
}

.relle3 {
    border-radius: 20px;
    position: relative;
    top: 400px;
    left: 100px;
    height: 5vh;
    width: 30vw;
    background-color: rgb(50, 54, 69);
    color: white;


}

.relle3:hover {

    border: solid 2px rgb(68, 111, 150);
    height: 5.1vh;
    width: 30.1vw;
    background-color: rgb(61, 64, 74);
    box-shadow: 1px 1px 30px 1px rgb(15, 63, 109);
}

.relle4 {
    border-radius: 20px;
    position: relative;
    top: 300px;
    left: 100px;
    height: 5vh;
    width: 30vw;
    background-color: rgb(50, 54, 69);
    color: white;



}

.relle4:hover {

    border: solid 2px rgb(68, 111, 150);
    height: 5.1vh;
    width: 30.1vw;
    background-color: rgb(61, 64, 74);
    box-shadow: 1px 1px 30px 1px rgb(15, 63, 109);
}

.btn {
    position: relative;
    top: 100px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    height: 9vh;
    width: 15vw;
    left: 320px;
    background-color: rgb(29, 144, 244);
    color: white;
    border: 1px solid rgb(50, 54, 68);

}

.btn:hover {
    box-shadow: 1px 1px 30px 1px rgb(15, 63, 109);
    height: 9.1vh;
    width: 15.1vw;


}

.btn2 {
    position: relative;
    top: 100px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    height: 9vh;
    width: 15vw;
    left: -100px;
    background-color: rgb(84, 91, 105);
    color: white;
    border: 1px solid rgb(50, 54, 68);

}

.btn2:hover {
    box-shadow: 1px 1px 30px 1px rgb(15, 63, 109);
    height: 9.1vh;
    width: 15.1vw;


}

.user {

    position: relative;
    top: -174px;
    height: 4vh;
    left: 200px;
   


}

.user2 {

    position: relative;
    top: -174px;
    height: 4vh;
    left: 450px;
}

.user3 {

    position: relative;
    top: -92px;
    height: 4vh;
    left: 425px;
}

.user4 {

    position: relative;
    top: -32px;
    height: 4vh;
    left: 400px;
}

.primer{

color: rgb(144, 153, 168);
position: relative;
top: 80px;
left: 140px;
font-size: 18px;
}

.titu{

    color: white;
    position: relative;
    top: 70px;
    left: 140px;
    font-size: 40px;

}

.segundo{
position: relative;
top: 20px;
left: 140px;
color: rgb(138, 144, 158);

}



.tercer{
    position: relative;
    top: -15px;
    left: 275px;
    color: rgb(54, 106, 158);
    text-decoration: none;

}

.circu{

 background-color: rgb(31, 144, 245);
 height: 1.95vh;
 width: 1vw;
 border-radius: 50px;   
position: relative;
top: 22px;
left: 480px;

}